@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
}


.navbar{
    width: 100%; 
    position: relative;
    display: flex;
    justify-content: space-between;
    color: white;
}

.navbar h3{
    margin-top: 25px;
    margin-left: 35px;
    font-weight: 700;
}



.navbar ul{
    list-style-type: none;
    margin-right: 35px;
    margin-top: 25px;   
}

.navbar ul li{
    display: inline;
    padding: 10px;
    text-decoration: none;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    font-weight: 400;
}


.welcome{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; 
}

.loginHeading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; 
    font-size: 30px;
}

.welcome button{
    padding: 20px;
    box-sizing: border-box;
    border-style: none;
    border-radius: 10px;
    width: 50%;
    font-size: 20px;
    font-weight: 700;
    background-color: black;
    color: white;
    transition: 2s;  
    
}

.welcome button:hover::after{
    content: " >>>";
    background-color: transparent;
}

.headline{
    position: relative;
    margin-top: 25%;
    margin-left: 37%;
    font-size: 20px;
    color: rgb(95, 95, 95);
}

.form{
    position: relative;
    margin-top: 10%;
    margin-left: 58%;
    transform: translate(-50%, -50%);
}

input{
    padding: 10px;
    width: 55%;
}


