@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
}


.navbar{
    width: 100%; 
    position: relative;
    display: flex;
    justify-content: space-between;
    color: white;
}

.navbar img{
    margin-top: 25px;
    margin-left: 35px;
}



.navbar ul{
    list-style-type: none;
    margin-right: 35px;
    margin-top: 25px;   
}

.navbar ul li{
    display: inline;
    padding: 10px;
    text-decoration: none;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    font-weight: 400;
}


.welcome{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; 
}

.loginHeading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; 
    font-size: 30px;
}

.welcome button{
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid rgb(160, 9, 9);
    border-radius: 10px;
    width: 50%;
    font-size: 20px;
    font-weight: 700;
    background-color: Transparent;
    color: white;
    transition: 2s;  
    
}
.welcome button:hover{
    background-color: rgb(160, 9, 9);;
}
.welcome button:hover::after{
    content: " >>>";
}

.headline{
    position: relative;
    margin-top: 25%;
    margin-left: 37%;
    font-size: 20px;
    color: rgb(95, 95, 95);
}

form{
    position: relative;
    margin-top: 13%;
    margin-left: 58%;
    transform: translate(-50%, -50%);
}

input{
    width: 55%;
    padding: 15px;
    border-style: none;
    background-color: #3b3a3b17;
    border-radius: 4px;
    box-shadow: 1px 1px 2px black;
}
input[type="submit"]{
    width: 60%;
    background-color: #da1394;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}



